<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/edit.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}"/>
    <script type="text/javascript" th:src="@{/js/admin/edit_book.js}"></script>
    <script type="text/javascript" th:src="@{/js/validation/book_validation.js}"></script>
</head>
<body>
<div th:replace="fragment/side_bar"></div>

<div class="modal fade" id="success_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    th:text="#{book_info_updated}"
                    id="successModalResponse"></h5>
                <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="error_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="errorModalMessage"></h5>
                <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade"
     id="addAuthorToBookModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addAuthorLabel" th:text="#{add_author}"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group mt-1">
                    <label for="book_cover_type"
                           style="width: 200px"
                           class="col-sm-2 col-form-label"
                           th:text="#{authors}"></label>
                    <select class="form-select  shadow-none"
                            aria-label="Default select example"
                            id="book_authors_to_select">
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{close}"></button>
                <button type="button"
                        class="btn btn-primary"
                        onclick="addAuthorToBook()"
                        th:text="#{add}"></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade"
     id="addPublisherToBookModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPublisherLabel" th:text="#{add_publisher}"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group mt-1">
                    <label for="book_cover_type"
                           style="width: 200px"
                           class="col-sm-2 col-form-label"
                           th:text="#{all_publishers}"></label>
                    <select class="form-select  shadow-none"
                            aria-label="Default select example"
                            id="book_publishers_to_select">
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{close}"></button>
                <button type="button"
                        class="btn btn-primary"
                        onclick="addPublisherToBook()"
                        th:text="#{add}"></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade"
     id="addGenreToBookModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addGenreLabel" th:text="#{add_genre}"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group mt-1">
                    <label for="book_cover_type"
                           style="width: 200px"
                           class="col-sm-2 col-form-label"
                           th:text="#{all_genres}"></label>
                    <select class="form-select  shadow-none"
                            aria-label="Default select example"
                            id="book_genres_to_select">
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{close}"></button>
                <button type="button"
                        class="btn btn-primary"
                        onclick="addGenreToBook()"
                        th:text="#{add}"></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteAuthorFromBookModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="deleteAuthorModalLabel"
                    th:text="#{delete_author}"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"
                 th:text="#{delete_author_question}">
            </div>
            <input type="hidden" id="author_id_input" value="">
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                        th:text="#{close}">

                </button>
                <button type="button"
                        class="btn btn-danger"
                        id="delete_author_btn"
                        onclick="removeAuthorFromBook()"
                        th:text="#{delete}">
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deletePublisherFromBookModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="deletePublisherModal"
                    th:text="#{delete}"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"
                 th:text="#{delete_publisher_question}">
            </div>
            <input type="hidden" id="publisher_id_input" value="">
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                        th:text="#{close}">

                </button>
                <button type="button"
                        class="btn btn-danger"
                        id="delete_publisher_btn"
                        onclick="removePublisherFromBook()"
                        th:text="#{delete}">
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteGenreFromBookModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="deleteGenreModalLabel"
                    th:text="#{delete}"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"
                 th:text="#{delete_genre_question}">
            </div>
            <input type="hidden" id="genre_id_input" value="">
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                        th:text="#{close}">

                </button>
                <button type="button"
                        class="btn btn-danger"
                        onclick="removeGenreFromBook()"
                        th:text="#{delete}">
                </button>
            </div>
        </div>
    </div>
</div>


<div class="edit-container">
    <div class="body">
        <input type="hidden" id="hard_cover" th:value="#{hard}">
        <input type="hidden" id="soft_cover" th:value="#{soft}">
        <input type="hidden" id="book_id" value="">
        <input type="hidden" id="old_image_path" value="">
        <div class="image-container">
            <label for="file-input">
                <img class="image" id="book_image"
                     src="http://localhost:8090/image/book/default.png"/>
            </label>
            <input id="file-input"
                   onchange="document.getElementById('book_image').src = window.URL.createObjectURL(this.files[0])"
                   type="file"/>
        </div>
        <div class="info-container">

            <div class="form-group mt-1">
                <label for="book_title" th:text="#{name}"></label>
                <input type="text" class="form-control shadow-none" id="book_title">
            </div>

            <div class="form-group mt-1">
                <label for="book_price" th:text="#{price}"></label>
                <input type="text" class="form-control shadow-none" id="book_price">
            </div>

            <div class="form-group mt-1">
                <label for="book_isbn" th:text="#{isbn}"></label>
                <input type="text" class="form-control shadow-none" id="book_isbn">
            </div>

            <div class="form-group mt-1">
                <label for="book_pages" th:text="#{pages}"></label>
                <input type="text" class="form-control shadow-none" id="book_pages">
            </div>

            <div class="form-group mt-1">
                <label for="book_cover_type"
                       style="width: 200px"
                       class="col-sm-2 col-form-label"
                       th:text="#{cover_type}"></label>
                <select class="form-select  shadow-none"
                        aria-label="Default select example"
                        id="book_cover_type">
                    <option value="HARDCOVER" selected th:text="#{hard}"></option>
                    <option value="SOFTCOVER" th:text="#{soft}"></option>
                </select>
            </div>

            <label for="year"
                   style="width: 200px"
                   class="col-sm-2 col-form-label"
                   th:text="#{publish_year}"></label>
            <div class="form-group row mt-1">
                <select class="form-select w-25 shadow-none"
                        style="margin-left: 11px"
                        aria-label="Default select example"
                        id="day">
                    <option selected th:text="#{day}"></option>
                </select>
                <select class="form-select w-25 shadow-none"
                        style="margin-left: 11px"
                        aria-label="Default select example"
                        id="month">
                    <option selected th:text="#{month}"></option>
                </select>
                <select class="form-select w-25 shadow-none"
                        style="margin-left: 11px"
                        aria-label="Default select example"
                        id="year">
                    <option selected th:text="#{year}"></option>
                </select>
            </div>

            <div class="form-group mt-1">
                <label for="book_description" th:text="#{description}"></label>
                <textarea class="form-control shadow-none mt-1" id="book_description" rows="8"></textarea>
            </div>
        </div>
    </div>
    <div class="footer">
        <button type="button"
                class="btn btn-primary edit-btn shadow-none"
                onclick="editBook()"
                th:text="#{change}"></button>
    </div>
</div>
<div class="book-authors">
    <h1 th:text="#{authors}"></h1>
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
        <tr>
            <th th:text="#{image}"></th>
            <th th:text="#{first_name}"></th>
            <th th:text="#{last_name}"></th>
            <th th:text="#{birth_date}"></th>
            <th th:text="#{actions}"></th>
        </tr>
        </thead>

        <tbody id="tableData">

        </tbody>
    </table>
    <button type="button" class="btn btn-primary shadow-none add-author-btn"
            th:text="#{add_author}"
            data-bs-toggle="modal"
            data-bs-target="#addAuthorToBookModal">
    </button>
    <div class="error-message" id="error-message"></div>
</div>

<div class="book-publishers">
    <h1 th:text="#{all_publishers}"></h1>
    <table class="table align-middle mb-0 bg-white w-90">
        <thead class="bg-light">
        <tr>
            <th>#</th>
            <th th:text="#{image}"></th>
            <th th:text="#{name}"></th>
            <th th:text="#{actions}"></th>
        </tr>
        </thead>

        <tbody id="publisherTableData">

        </tbody>
    </table>
    <button type="button" class="btn btn-primary shadow-none add-publisher-btn"
            th:text="#{add_publisher}"
            data-bs-toggle="modal"
            data-bs-target="#addPublisherToBookModal">
    </button>
</div>

<div class="book-genres">
    <h1 th:text="#{all_genres}"></h1>
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
        <tr>
            <th>#</th>
            <th th:text="#{name}"></th>
            <th th:text="#{actions}"></th>
        </tr>
        </thead>

        <tbody id="genreTableData">

        </tbody>
    </table>
    <button type="button" class="btn btn-primary shadow-none add-genre-btn"
            th:text="#{add_genre}"
            data-bs-toggle="modal"
            data-bs-target="#addGenreToBookModal">
    </button>
</div>

<div class="footer">

</div>
</body>
</html>