
.content {
    width: 70%;
    margin-left: 15%;
    margin-top: 3%;
}

.content h1 {
    margin-left: 10%;
    font-family: IBM Plex Sans, sans-serif;
    color: #573ba3;
    font-size: 2.3em;
    font-weight: bold;
}

.books-by-genre-title {
    height: fit-content;
    margin-top: 1%;
}

.books-by-genre-title .book-container {
    margin-top: 25px;
    width: 18%;
    height: 500px;
    float: left;
    margin-left: 24px;
}

.book-container:nth-child(5n+1) {
    margin-left: 0;
}

.book-container:nth-child(5n) {
    margin-right : 0;
}

.author-books .book-container .book-image-container {
    width: 100%;
    height: 280px;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
}

.book-image-container .book-image {
    width: 90%;
    height: 265px;
    margin-top: 8%;
    margin-left: 5%;
    transition: transform .4s;
    border-radius: 5px;
    box-shadow: 0 6px 12px rgb(0 0 0 / 30%);
    object-fit: cover;
    cursor: pointer;
}

.book-image:hover {
    transform: scale(1.01);
}

.books-by-genre-title .book-info {
    margin-top: 10px;
    height: 130px;
}

.books-by-genre-title .book-title {
    width: 100%;
    font-family: IBM Plex Sans, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
    color: #2c293b;
    cursor: pointer;
}
.book-price:before{
    content: '\a';
    white-space: pre;
}

.book-author-name {
    font-family: IBM Plex Sans, sans-serif;
}

.book-price {
    margin-top: -8%;
    font-family: IBM Plex Sans, sans-serif;
    font-weight: bold;
}

.book-author {
    color: #573ba3;
    text-decoration: none;
}

.book-author:hover {
    color: #573ba3;
}

.add-to-wishlist-btn {
    width: 100%;
    margin-top: 20px;
    border-width: 1px;
    background-color: #de2454;
    border-color: #de2454;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-family: IBM Plex Sans, sans-serif;
    font-size: 18px;
    color: white;
}