.edit-container {
    float: left;
    margin-top: 4.4%;
    margin-left: 5%;
    border: 1px solid silver;
    border-radius: 5px;
    width: 75%;
    overflow: hidden;
}

.book-authors,
.book-publishers {
    margin-top: 15px;
    float: left;
    width: 75%;
    margin-left: 21.5%;
}

.image-container {
    float: left;
    width: 30%;
}

.info-container {
    float: left;
    width: 65%;
    margin-top: 2%;
}

.footer {
    float: left;
    width: 100%;
    height: 70px;
}

.footer .edit-btn {
    margin-top: 1%;
    margin-right: 5%;
    float: right;
}

.image-container > input {
    display: none;
}

.image {
    object-fit: cover;
    border: 1px solid silver;
    border-radius: 5px;
    width: 250px;
    height: 340px;
    margin-left: 15%;
    margin-top: 14%;
    cursor: pointer;
}

.alert {
    margin-top: 5px;
    width: 500px;
}

.image-alert {
    margin-left: 11%;
    width: 250px;
}

h1 {
    display: inline-block;
    width: 200px;
    margin-left: 5%;
}

.add-author-btn,
.add-publisher-btn {
    display: inline-block;
    float: right;
    margin-top: 1%;
}