body {
    background-color: #e5e4e2;
}
.registration-container {
    width: 28%;
    margin: auto;
}

.register-btn {
    width: 100%;
    font-family: IBM Plex Sans , sans-serif;
    font-weight: 600;
}

a {
    cursor: pointer;
}

.me-2 {
    width: 350px;
}

.ms-n5 {
    margin-left: -40px;
    position: absolute;
}

.alert {
    display: none;
}

.password_alert_box:focus {
    display: block;
}