<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <script type="text/javascript" th:src="@{/js/general/home.js}"></script>
    <script type="text/javascript" th:src="@{/js/post/book_shelve.js}"></script>
</head>
<body>
<div th:replace="fragment/header"></div>
<input type="hidden" id="add" th:value="#{add}">
<input type="hidden" id="change" th:value="#{change}">

<div class="modal fade" id="editBookStatusModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="right-side">
                    <h5 class="modal-title"
                        th:text="#{action_choice}"></h5>
                    <h5 id="book_title_in_modal_header"
                        class="book-title-in-header"></h5>
                </div>
                <div class="left-side">
                    <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
            </div>
            <div class="modal-body">
                <input type="hidden" id="book_id" value="">
                <input type="hidden" id="shelve_id" value="">
                <div class="choice">
                    <input type="radio" name="choice" value="WANT_TO_READ" id="want_to_read">
                    <label for="want_to_read" th:text="#{want_to_read}" id="label1"></label>
                </div>
                <div class="choice">
                    <input type="radio" name="choice" value="READ" id="read">
                    <label for="read" th:text="#{read}" id="label2"></label>
                </div>
                <div class="choice">
                    <input type="radio" name="choice" value="CURRENTLY_READING" id="currently_reading">
                    <label for="currently_reading" th:text="#{currently_reading}" id="label3"></label>
                </div>
                <div class="choice">
                    <input type="radio" name="choice" value="DIDNT_FINISH" id="didnt_finish">
                    <label for="didnt_finish" th:text="#{didnt_finish}" id="label4"></label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                        th:text="#{close}">

                </button>
                <button type="button"
                        class="btn btn-primary"
                        onclick="changeBookStatusOnShelve()"
                        th:text="#{change}">
                </button>
            </div>
        </div>
    </div>
</div>


<div id="high_score_books_wrapper">
    <h1>
        <a class="article"
           th:text="#{books_with_high_score}"
           href="http://localhost:8070/bookshop/booksWithHighScore?page=1"></a>
    </h1>
    <a class="amount"
       href="http://localhost:8070/bookshop/booksWithHighScore?page=1"
       id="high_score_books_number"
       th:text="#{total}"></a>
    <div id="high_score_books_carousel">
        <div id="high_score_books_content">

        </div>
    </div>
    <button id="prev_item_for_high_score_books">
        <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
        >
            <path fill="none" d="M0 0h24v24H0V0z"/>
            <path d="M15.61 7.41L14.2 6l-6 6 6 6 1.41-1.41L11.03 12l4.58-4.59z"/>
        </svg>
    </button>
    <button id="next_item_for_high_score_books">
        <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
        >
            <path fill="none" d="M0 0h24v24H0V0z"/>
            <path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z"/>
        </svg>
    </button>
</div>
</body>
</html>